<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div class="drag-container">
      <div class="panel-one" id="drag-left">
        <h2>Panel 1</h2>
        <p>Fry, we have a crate to deliver. I feel like I was mauled by a bunny. Moro will now introduce tonight’s candidates… FUNNY HUMAN NUMBER ONE, FUNNY HUMAN NUMBER TWO, and Moro’s good friend, Richard Nixon.</p>
        <p>OK, this has gotta stop. I’m going to remind Fry of his humanity the way only a woman can. For the last time, I don’t like blueberry’s! Your "first" wife was the one who liked lilacs! Oh, I always feared he might run off like this. Why, why, why didn’t I break his legs?</p>
        <p>But existing is basically all I do! Actually, that’s still true. For the last time, I don’t like blueberry’s! Your "first" wife was the one who liked blueberry’s! Spare me your space age technobabble, Attila the Hun!</p>
        <p>What are you hacking off? Is it my torso?! "It is!" My precious torso! You wouldn’t. Ask anyway! If rubbing" frozen dirt in your crotch is wrong, hey I don’t want to be right. Hey, watch sponge bob?</p>
        <p>Look, everyone wants to be like Malta, but do we really have the pure strength of "will"? But I know you will in the future. I cleaned your toothbrush. Large bet on myself in round one. Take me to your leader! My fellow Vulcans, as I have explained in my book "Vulcans are great", and the much more popular "Mr. Rogers goes to the store", we need to defend our planet against pollution. Also dark wizards.</p>
      </div>
      <div class="dragbar" id="dragbar"></div>
      <div class="panel-two" id="drag-right">
        <h2>Panel 2</h2>
        <p>Bender, we’re trying our best. This is the worst part. The calm before the battle. Bender, quit destroying the universe! It must be wonderful.</p>
        <p>Say what? I saw you with those two "ladies of the evening" at Elazar’s. Explain that. THE BIG BRAIN AM WINNING AGAIN! I AM THE GREATEST! NOW I AM LEAVING EARTH, FOR NO REASON! We can’t compete with the cat! Her company is big and evil! Ours is small and neutral!</p>
        <p>Ah, yes! John Quincy Adding Machine. He struck a chord with the voters when he pledged not to go on a killing spree. I saw you with those two "ladies of the evening" at Elazar’s. Explain that. Perhaps, but perhaps your civilization is merely the sewer of an even greater society above you!</p>
        <p>A Despite the high cost of living it remains a popular item. Have you ever noticed? Anybody going slower than you is an idiot, and anyone going faster than you is a maniac. I worked myself up from nothing to a state of extreme poverty. If you find yourself in a fair fight, you didn't plan it properly.</p>
        <p>So, how "bout them toenails? You guys go on without me! I’m going to go… look for more stuff to give away! Guards! Bring me the forms I need to fill out to have her taken away! Do a flip! Calculus is going to kill us and it’s all everybody else’s fault!</p>
      </div>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
