body {
  background-image: linear-gradient(45deg, #f2efe2 0%, #cacada 100%);
}

.egg {
  width: 150px;
  height: 150px;
  background: radial-gradient(#FFDA00 0%, #ffc52f 40%, #f5e19a 75%, #F7B20B 100%);
  box-shadow: inset 0 0 30px 10px #ffc52f, 0 0 2px 2px rgba(243, 185, 2, 0.8), 0 0 35px 5px #cacaca;
  margin: 50px auto;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: 40%;
}
.egg::before {
  content: "";
  position: absolute;
  top: -5%;
  left: -5%;
  width: 70%;
  height: 50%;
  border-radius: 50%;
  background: radial-gradient(closest-side, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.001) 100%);
}
.egg::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -10%;
  left: -35%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle farthest-corner, #e0e0e0 25%, #f3f3f3 100%);
  box-shadow: 0 0 5px 3px rgba(242, 218, 138, 0.4), 0 0 30px 10px #cacaca;
  border-radius: 50%;
  transform: rotate(20deg);
}
.egg.egg-1 {
  margin: -100px 0 0 -100px;
}
.egg.egg-2 {
  margin: -75px 0 0 200px;
}
.egg.egg-2::after {
  width: 250%;
  top: -20%;
  left: -70%;
  transform: rotate(40deg);
}
.egg.egg-3 {
  margin: 170px 0 0 45px;
}
.egg.egg-3::after {
  height: 225%;
  top: -50%;
  left: -50%;
  transform: rotate(15deg);
}
