* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
}
input,
textarea {
  padding: 1em;
  font-size: 14pt;
  line-height: 1.4;
  font-family: 'Fira Code', monospace;
}
input {
  min-width: 100%;
  height: 3em;
}
textarea {
  width: 50%;
  height: calc(100vh - 3em);
}