<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>


<!--
In this lesson, we'll cover some of the most important
properties of the multi-column module that are also
widely supported.
-->

<!-- Starting with `column-count` - it is used to specify
the number of columns that we want our content to break into. -->

    <h3>column-count</h3>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>

<!-- Next up is `column-width` using which we can specify
each column's width -->

    <h3>column-width</h3>
    <div class="column-width">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </div>

<!-- `columns` can be used as a shorthand for
column-count and column-width at the same time. -->

    <h3>columns</h3>
    <div class="columns">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </div>

<!-- We can use `column-gap` to create some space/gaps
between our columns. -->

    <h3>column-gap</h3>
    <div class="column-gap">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </div>

<!--
Using the `column-rule` property we can specify
a rule (straight line, like a border) between each
columns.
Its a shorthand for `column-rule-width/style/color`
similar to the `border` property.
-->

    <h3>column-rule</h3>
    <div class="column-rule">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </div>

<!--
`column-span` is really interesting.
it allows us to make an element span across all the
columns when its value is set to `all`
-->

    <h3>column-span</h3>
    <div class="column-span">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      h2>My Heading</h2>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </div>

<!--
Its not too hard to break a list into multiple columns
either. Below we have a huge unordered list. You could
have something similar used for navigation links to
categories, brands, etc. on your website that you might
want to break into separate columns.
Let me show you how...
-->

    <ul>
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
      <li>Five</li>
      <li>Six</li>
      <li>Seven</li>
      <li>Eight</li>
      <li>Nine</li>
      <li>Ten</li>
      <li>Eleven</li>
      <li>Twelve</li>
      <li>Thirteen</li>
      <li>Fourteen</li>
      <li>Fifteen</li>
      <li>Sixteen</li>
      <li>Seventeen</li>
      <li>Eighteen</li>
      <li>Nineteen</li>
      <li>Twenty</li>
      <li>Twenty One</li>
      <li>Twenty Two</li>
      <li>Twenty Three</li>
      <li>Twenty Four</li>
      <li>Twenty Five</li>
      <li>Twenty Six</li>
      <li>Twenty Seven</li>
      <li>Twenty Eight</li>
      <li>Twenty Nine</li>
      <li>Thirty</li>
    </ul>
  </body>
</html>
