body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
