<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <p style="--c0: #178ccd; --c1: #156599;" data-icon="🍇">Some Text Here</p>
    <p style="--c0: #a5c73f; --c1: #3e7e27;" data-icon="🍐">Some Text Here</p>
    <p style="--c0: #f6c232; --c1: #eca122;" data-icon="🍋">Some Text Here</p>
    <p style="--c0: #d63193; --c1: #a52178;" data-icon="🍒">Some Text Here</p>
  </body>
</html>
