/*cp_dofullrefresh*/
body {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}
.wrap {
  --cg1: conic-gradient(from 0deg at 0% 0%, rgba(244, 67, 54, 0.99) 90deg, rgba(30, 136, 229, 0.99) 180deg);
  --cg2: conic-gradient(from 0deg at 100% 25%, rgba(0, 0, 0, 0) 240deg, rgba(253, 216, 53, 0.99) 270deg);
  width: 100vw;
  height: 100vh;
  border: 10vmin solid rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  background: center / 50% 50% var(--cg2), center / 100% 100% var(--cg1);
  -webkit-animation: 3s f infinite linear;
          animation: 3s f infinite linear;
}
@-webkit-keyframes f {
  from {
    background-position: 0% 0%, 0% 0%;
  }
  to {
    background-position: 0% 100%, 0% 0%;
  }
}
@keyframes f {
  from {
    background-position: 0% 0%, 0% 0%;
  }
  to {
    background-position: 0% 100%, 0% 0%;
  }
}
