<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index-1.css">
    <link rel="stylesheet" href="css/index-2.css">
    <link rel="stylesheet" href="css/index-3.css">
    <link rel="stylesheet" href="css/index-4.css">
  </head>
  <body>
    <div class="container-fluid">
      <p>Number of items displayed is determined by parent container width.</p>
      <div class="c-carousel js-carousel">
        <div class="c-carousel__control c-carousel__control--prev js-carousel__prev">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
          </svg>
        </div>
        <div class="c-carousel__track">
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-1.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-2.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-3.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-4.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-5.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-6.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-7.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-8.jpg"/>
          </div>
        </div>
        <div class="c-carousel__control c-carousel__control--next js-carousel__next">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
          </svg>
        </div>
      </div>
      <p>You can predifine sizes with a modifier class. In this case it will be 50% width at a certain screen size.</p>
      <div class="c-carousel c-carousel--small js-carousel">
        <div class="c-carousel__control c-carousel__control--prev js-carousel__prev">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
          </svg>
        </div>
        <div class="c-carousel__track">
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-1.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-2.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-3.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-4.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-5.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-6.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-7.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-8.jpg"/>
          </div>
        </div>
        <div class="c-carousel__control c-carousel__control--next js-carousel__next">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
          </svg>
        </div>
      </div>
      <p>Or just rely on a grid system. This is using bootstrap 3.</p>
        <div class="row">
          <div class="col-sm-8 col-md-6">
            <div class="c-carousel js-carousel">
              <div class="c-carousel__control c-carousel__control--prev js-carousel__prev">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                </svg>
              </div>
              <div class="c-carousel__track">
                <div class="c-carousel__item js-carousel__item">
                  <img class="img-responsive" src="images/image-1.jpg"/>
                </div>
                <div class="c-carousel__item js-carousel__item">
                  <img class="img-responsive" src="images/image-2.jpg"/>
                </div>
                <div class="c-carousel__item js-carousel__item">
                  <img class="img-responsive" src="images/image-3.jpg"/>
                </div>
                <div class="c-carousel__item js-carousel__item">
                  <img class="img-responsive" src="images/image-4.jpg"/>
                </div>
                <div class="c-carousel__item js-carousel__item">
                  <img class="img-responsive" src="images/image-5.jpg"/>
                </div>
                <div class="c-carousel__item js-carousel__item">
                  <img class="img-responsive" src="images/image-6.jpg"/>
                </div>
                <div class="c-carousel__item js-carousel__item">
                  <img class="img-responsive" src="images/image-7.jpg"/>
                </div>
                <div class="c-carousel__item js-carousel__item">
                  <img class="img-responsive" src="images/image-8.jpg"/>
                </div>
              </div>
              <div class="c-carousel__control c-carousel__control--next js-carousel__next">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                </svg>
              </div>
            </div>
          </div>
      </div>
      <p>Use max-width on items to make them keep an ideal size even if there aren"t enough to fill the container.</p>
      <div class="c-carousel js-carousel">
        <div class="c-carousel__control c-carousel__control--prev js-carousel__prev">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
          </svg>
        </div>
        <div class="c-carousel__track">
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-1.jpg"/>
          </div>
          <div class="c-carousel__item js-carousel__item">
            <img class="img-responsive" src="images/image-2.jpg"/>
          </div>
        </div>
        <div class="c-carousel__control c-carousel__control--next js-carousel__next">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
          </svg>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index-1.js"></script>
    <script src="js/index-2.js"></script>
    <script src="js/index-3.js"></script>
  </body>
</html>
