<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="scroll-list">
        <h3>10 Great Things to Read</h3>
        <div class="scroll-list__wrp js-scroll-content js-scroll-list">
          <div class="scroll-list__item js-scroll-list-item">
            <div class="image">
              <img src="images/image-1.jpg" alt="">
            </div>
            <div class="desc">
              <h4>Heading 1</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia reprehenderit, repudiandae impedit voluptates in quaerat veniam nobis accusamus amet quam!</p>
              <button class="ripple">Button</button>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <div class="image">
              <img src="images/image-2.jpg" alt="">
            </div>
            <div class="desc">
              <h4>Heading 2</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia reprehenderit, repudiandae impedit voluptates in quaerat veniam nobis accusamus amet quam!</p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <div class="image">
              <img src="images/image-3.jpg" alt="">
            </div>
            <div class="desc">
              <h4>Heading 3</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia reprehenderit, repudiandae impedit voluptates in quaerat veniam nobis accusamus amet quam!</p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <div class="image">
              <img src="images/image-4.jpg" alt="">
            </div>
            <div class="desc">
              <h4>Heading 4</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia reprehenderit, repudiandae impedit voluptates in quaerat veniam nobis accusamus amet quam!</p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <div class="image">
              <img src="images/image-5.jpg" alt="">
            </div>
            <div class="desc">
              <h4>Heading 4</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia reprehenderit, repudiandae impedit voluptates in quaerat veniam nobis accusamus amet quam!</p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <div class="image">
              <img src="images/image-6.jpg" alt="">
            </div>
            <div class="desc">
              <h4>Heading 6</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia reprehenderit, repudiandae impedit voluptates in quaerat veniam nobis accusamus amet quam!</p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <div class="image">
              <img src="images/image-7.jpg" alt="">
            </div>
            <div class="desc">
              <h4>Heading 7</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia reprehenderit, repudiandae impedit voluptates in quaerat veniam nobis accusamus amet quam!</p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <div class="image">
              <img src="images/image-8.jpg" alt="">
            </div>
            <div class="desc">
              <h4>Heading 8</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia reprehenderit, repudiandae impedit voluptates in quaerat veniam nobis accusamus amet quam!</p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <div class="image">
              <img src="images/image-9.jpg" alt="">
            </div>
            <div class="desc">
              <h4>Heading 9</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia reprehenderit, repudiandae impedit voluptates in quaerat veniam nobis accusamus amet quam!</p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>
          <div class="scroll-list__item js-scroll-list-item">
            <div class="image">
              <img src="images/image-10.jpg" alt="">
            </div>
            <div class="desc">
              <h4>Heading 10</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia reprehenderit, repudiandae impedit voluptates in quaerat veniam nobis accusamus amet quam!</p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/smooth-scrollbar.js"></script>
    <script src="js/overscroll.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
