<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <nav class="pop-nav"></nav>
    <div class="pop-banner" style="background-image: url("images/webair.png")";></div>
    <div class="pop-body">
     <div class="pop-grid">
      <div class="pop-left">
        <div class="pop-images">
          <img src="images/webair.png" alt="">
        </div>
        <div class="pop-text">
          <a href="#0" class="pop-title">
            <h2>lorem</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque explicabo itaque nostrum nemo magnam numquam quia eaque libero magni, tenetur laudantium est.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque.
          </p>
        </div>
      </div>
      <div class="pop-right"></div>
      <div class="pop-left"></div>
      <div class="pop-right">
        <div class="pop-images">
          <img src="images/webair.png" alt="">
        </div>
        <div class="pop-text">
          <a href="#" class="pop-title">
            <h2>lorem uyu</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque explicabo itaque nostrum nemo magnam numquam quia eaque libero magni, tenetur laudantium est.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque explicabo atibus a cumque explicabo atibus a cumque explicabo itaque nostrum nemo magnam numquam quia eaque libero.
          </p>
        </div>
      </div>
      <div class="pop-left"></div>
      <div class="pop-right"></div>
      <div class="pop-left">
        <div class="pop-images">
          <img src="images/webair.png" alt="">
        </div>
        <div class="pop-text">
          <a href="#0" class="pop-title">
            <h2>lorem poyty f</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque explicabo itaque nostrum nemo magnam numquam quia eaque libero magni, tenetur laudantium est.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque explicabo itaque nostrum nemo magnam numquam quia eaque libero magni, tenetur laudantium est.
          </p>
        </div>
      </div>
      <div class="pop-right"></div>
      <div class="pop-left"></div>
      <div class="pop-right">
        <div class="pop-images">
          <img src="images/webair.png" alt="">
        </div>
        <div class="pop-text">
          <a href="#0" class="pop-title">
            <h2>lorem dfgd dfg dfg dfglk</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque explicabo itaque nostrum nemo magnam numquam quia eaque libero.
          </p>
        </div>
      </div>
    </div>
    <div class="pop-grid">
      <div class="pop-left"></div>
      <div class="pop-right"></div>
      <div class="pop-left">
        <div class="pop-images">
          <img src="images/webair.png" alt="">
        </div>
        <div class="pop-text">
          <a href="#0" class="pop-title">
            <h2>lorem</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque explicabo itaque nost.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque explicabo itaque nostrum nemo magnam numquam quia eaque libero magni, tenetur laudantium est.
          </p>
        </div>
      </div>
      <div class="pop-right"></div>
      <div class="pop-left"></div>
      <div class="pop-right">
        <div class="pop-images">
          <img src="images/webair.png" alt="">
        </div>
        <div class="pop-text">
          <a href="#0" class="pop-title">
            <h2>lorem lorem</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque explicabo itaque nostrum nemo magnam numquam quia eaque libero magni, tenetur laudantium est.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque explicabo itaque nostrum nemo magnam numquam quia eaque libero.
          </p>
        </div>
      </div>
      <div class="pop-left"></div>
      <div class="pop-right"></div>
      <div class="pop-left">
        <div class="pop-images">
          <img src="images/webair.png" alt="">
        </div>
        <div class="pop-text">
          <a href="#0" class="pop-title">
            <h2>lorem j skljd</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque explicabo itaque nostrum nemo magnam numquam quia eaque libero magni, tenetur laudantium est.
          </p>
        </div>
      </div>
      <div class="pop-right"></div>
      <div class="pop-left"></div>
        <div class="pop-right">
          <div class="pop-images">
            <img src="images/webair.png" alt="">
          </div>
          <div class="pop-text">
            <a href="#0" class="pop-title">
              <h2>lorem tyot</h2>
            </a>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque explicabo itaque nostrum nemo magnam numquam quia eaque libero magni, tenetur laudantium est.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, hic eligendi nobis earum necessitatibus a cumque explicabo itaque nostrum nemo magnam numquam quia eaque libero.
            </p>
          </div>
        </div>
        <div class="pop-left"></div>
      </div>
    </div>
    <footer class="pop-foot"></footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
