<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>

  <div class="smart-grid">
  <section class="smart-grid__item-2col">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sapien hendrerit, vulputate odio quis, maximus ligula. Praesent ac tellus vitae ex porttitor consectetur ut quis elit. Fusce lobortis dapibus bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In vitae pulvinar risus, quis volutpat quam. Aenean vitae purus tortor. Suspendisse ultrices eget metus quis pellentesque. Aliquam sagittis est vel lacus pellentesque lacinia. Nullam velit nulla, condimentum eget iaculis nec, tempus ut ligula.</p>
    <p>Pellentesque venenatis hendrerit ex, a varius lacus suscipit eget. Sed sem dui, vehicula a convallis ut, euismod sed metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent mollis elit justo, quis interdum velit semper non. Cras molestie pretium metus ac mattis. Donec ornare sem urna, aliquet sollicitudin enim lobortis sed. Vestibulum sodales commodo lectus quis porttitor.</p>
  </section>
  <section>
    <p> Vivamus vitae dapibus dui, ut suscipit lectus. Quisque dignissim aliquet sagittis. In hac habitasse platea dictumst. Praesent turpis ipsum, pharetra id tellus id, vestibulum suscipit massa. Suspendisse laoreet imperdiet suscipit. Duis pharetra lectus lectus, sit amet porta leo pretium eget. Suspendisse auctor egestas consequat. Praesent ligula tortor, volutpat nec sem sagittis, ullamcorper ultricies diam. Nulla facilisi. Maecenas quis dui sit amet sapien volutpat facilisis. Phasellus blandit malesuada nibh vitae faucibus.</p>
  </section>
  <section class="smart-grid__item-2row">
    <p> Ut porttitor ex ut leo posuere sollicitudin. Donec luctus nulla at scelerisque iaculis. Morbi rhoncus, libero et dapibus sagittis, ligula neque hendrerit ligula, et vestibulum lectus orci vitae ipsum. Quisque id neque aliquam, condimentum ligula ut, ullamcorper justo. Aenean maximus porta ex, nec auctor urna tristique sed. Pellentesque ac molestie risus. Vestibulum accumsan massa eros, sit amet vestibulum nulla posuere sodales. Nulla sit amet nisl vulputate, malesuada ante sit amet, hendrerit nisl. Vestibulum sagittis, velit a gravida egestas, mauris leo egestas tellus, consectetur sodales justo diam sed justo. Morbi ullamcorper, lectus vitae fringilla consequat, felis libero suscipit risus, et pellentesque justo arcu non metus. In vel ante nisl.</p>
  </section>
  <section>
    <p>Pellentesque venenatis hendrerit ex, a varius lacus suscipit eget. Sed sem dui, vehicula a convallis ut, euismod sed metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent mollis elit justo, quis interdum velit semper non. Cras molestie pretium metus ac mattis. Donec ornare sem urna, aliquet sollicitudin enim lobortis sed. Vestibulum sodales commodo lectus quis porttitor.</p>
  </section>
  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sapien hendrerit, vulputate odio quis, maximus ligula. Praesent ac tellus vitae ex porttitor consectetur ut quis elit. Fusce lobortis dapibus bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In vitae pulvinar risus, quis volutpat quam. Aenean vitae purus tortor. Suspendisse ultrices eget metus quis pellentesque. Aliquam sagittis est vel lacus pellentesque lacinia. Nullam velit nulla, condimentum eget iaculis nec, tempus ut ligula.</p>
  </section>
  <section class="smart-grid__item-2col">
    <p>Ut quis mauris eu purus feugiat tristique nec in elit. Donec sed sem ullamcorper nunc euismod maximus a aliquam sapien. Nullam consectetur quam nulla, eget pellentesque augue mattis maximus. In laoreet malesuada est non pretium. Pellentesque egestas, eros eget auctor maximus, magna tortor feugiat nunc, vitae fermentum tortor turpis nec lectus. Nunc dignissim nibh a venenatis eleifend. Praesent bibendum vestibulum odio eget porta. Sed a rutrum arcu.</p>
  <p>Sed dui erat, sodales a convallis a, sagittis a urna. Fusce sit amet tortor porttitor, finibus massa ut, eleifend sem. Nullam at ex est. Sed efficitur ex et nunc congue, ac tincidunt sapien tincidunt. In rhoncus scelerisque nunc id euismod. Fusce at tortor hendrerit, finibus libero eu, ultricies turpis. Nulla mattis blandit nunc id malesuada. Morbi id fermentum velit, sed eleifend sapien. Donec ante arcu, bibendum eget turpis eget, porttitor dapibus odio.</p>
</section>
  <section>
    <p>Pellentesque venenatis hendrerit ex, a varius lacus suscipit eget. Sed sem dui, vehicula a convallis ut, euismod sed metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent mollis elit justo, quis interdum velit semper non. Cras molestie pretium metus ac mattis. Donec ornare sem urna, aliquet sollicitudin enim lobortis sed. Vestibulum sodales commodo lectus quis porttitor.</p>
  </section>
  <section>
    <p>Vestibulum turpis sapien, semper non ullamcorper at, dignissim in neque. Proin tristique venenatis condimentum. Integer ac ex et ex convallis euismod. Mauris mauris dolor, finibus at porttitor ut, scelerisque at lorem. Mauris quis sem tincidunt, aliquet mi sit amet, facilisis dolor. Quisque ac nunc aliquam, congue dui at, tincidunt nulla. Pellentesque feugiat enim a purus egestas, eu varius justo tincidunt.</p>
  </section>
  <section>
    <p>In auctor nunc vitae justo luctus, eget sagittis nunc finibus. Nullam elementum ultricies convallis. Proin interdum lacinia sagittis. Maecenas porta ipsum odio, sit amet gravida nisi mattis in. Pellentesque scelerisque odio commodo consequat convallis. Pellentesque leo ante, ornare id pharetra sed, gravida sed ligula. Etiam nibh metus, fringilla at odio et, lobortis euismod sem. Integer feugiat lacus metus. Aliquam erat volutpat.</p>
  </section>  
</div>

<div class="smart-grid smart-grid--bigger">
  <section class="smart-grid__item-2col">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sapien hendrerit, vulputate odio quis, maximus ligula. Praesent ac tellus vitae ex porttitor consectetur ut quis elit. Fusce lobortis dapibus bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In vitae pulvinar risus, quis volutpat quam. Aenean vitae purus tortor. Suspendisse ultrices eget metus quis pellentesque. Aliquam sagittis est vel lacus pellentesque lacinia. Nullam velit nulla, condimentum eget iaculis nec, tempus ut ligula.</p>
    <p>Pellentesque venenatis hendrerit ex, a varius lacus suscipit eget. Sed sem dui, vehicula a convallis ut, euismod sed metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent mollis elit justo, quis interdum velit semper non. Cras molestie pretium metus ac mattis. Donec ornare sem urna, aliquet sollicitudin enim lobortis sed. Vestibulum sodales commodo lectus quis porttitor.</p>
  </section>
  <section>
    <p> Vivamus vitae dapibus dui, ut suscipit lectus. Quisque dignissim aliquet sagittis. In hac habitasse platea dictumst. Praesent turpis ipsum, pharetra id tellus id, vestibulum suscipit massa. Suspendisse laoreet imperdiet suscipit. Duis pharetra lectus lectus, sit amet porta leo pretium eget. Suspendisse auctor egestas consequat. Praesent ligula tortor, volutpat nec sem sagittis, ullamcorper ultricies diam. Nulla facilisi. Maecenas quis dui sit amet sapien volutpat facilisis. Phasellus blandit malesuada nibh vitae faucibus.</p>
  </section>
  <section class="smart-grid__item-2row">
    <p> Ut porttitor ex ut leo posuere sollicitudin. Donec luctus nulla at scelerisque iaculis. Morbi rhoncus, libero et dapibus sagittis, ligula neque hendrerit ligula, et vestibulum lectus orci vitae ipsum. Quisque id neque aliquam, condimentum ligula ut, ullamcorper justo. Aenean maximus porta ex, nec auctor urna tristique sed. Pellentesque ac molestie risus. Vestibulum accumsan massa eros, sit amet vestibulum nulla posuere sodales. Nulla sit amet nisl vulputate, malesuada ante sit amet, hendrerit nisl. Vestibulum sagittis, velit a gravida egestas, mauris leo egestas tellus, consectetur sodales justo diam sed justo. Morbi ullamcorper, lectus vitae fringilla consequat, felis libero suscipit risus, et pellentesque justo arcu non metus. In vel ante nisl.</p>
  </section>
  <section>
    <p>Pellentesque venenatis hendrerit ex, a varius lacus suscipit eget. Sed sem dui, vehicula a convallis ut, euismod sed metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent mollis elit justo, quis interdum velit semper non. Cras molestie pretium metus ac mattis. Donec ornare sem urna, aliquet sollicitudin enim lobortis sed. Vestibulum sodales commodo lectus quis porttitor.</p>
  </section>
  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sapien hendrerit, vulputate odio quis, maximus ligula. Praesent ac tellus vitae ex porttitor consectetur ut quis elit. Fusce lobortis dapibus bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In vitae pulvinar risus, quis volutpat quam. Aenean vitae purus tortor. Suspendisse ultrices eget metus quis pellentesque. Aliquam sagittis est vel lacus pellentesque lacinia. Nullam velit nulla, condimentum eget iaculis nec, tempus ut ligula.</p>
  </section>
  <section class="smart-grid__item-2col">
    <p>Ut quis mauris eu purus feugiat tristique nec in elit. Donec sed sem ullamcorper nunc euismod maximus a aliquam sapien. Nullam consectetur quam nulla, eget pellentesque augue mattis maximus. In laoreet malesuada est non pretium. Pellentesque egestas, eros eget auctor maximus, magna tortor feugiat nunc, vitae fermentum tortor turpis nec lectus. Nunc dignissim nibh a venenatis eleifend. Praesent bibendum vestibulum odio eget porta. Sed a rutrum arcu.</p>
  <p>Sed dui erat, sodales a convallis a, sagittis a urna. Fusce sit amet tortor porttitor, finibus massa ut, eleifend sem. Nullam at ex est. Sed efficitur ex et nunc congue, ac tincidunt sapien tincidunt. In rhoncus scelerisque nunc id euismod. Fusce at tortor hendrerit, finibus libero eu, ultricies turpis. Nulla mattis blandit nunc id malesuada. Morbi id fermentum velit, sed eleifend sapien. Donec ante arcu, bibendum eget turpis eget, porttitor dapibus odio.</p>
</section>
  <section>
    <p>Pellentesque venenatis hendrerit ex, a varius lacus suscipit eget. Sed sem dui, vehicula a convallis ut, euismod sed metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent mollis elit justo, quis interdum velit semper non. Cras molestie pretium metus ac mattis. Donec ornare sem urna, aliquet sollicitudin enim lobortis sed. Vestibulum sodales commodo lectus quis porttitor.</p>
  </section>
  <section>
    <p>Vestibulum turpis sapien, semper non ullamcorper at, dignissim in neque. Proin tristique venenatis condimentum. Integer ac ex et ex convallis euismod. Mauris mauris dolor, finibus at porttitor ut, scelerisque at lorem. Mauris quis sem tincidunt, aliquet mi sit amet, facilisis dolor. Quisque ac nunc aliquam, congue dui at, tincidunt nulla. Pellentesque feugiat enim a purus egestas, eu varius justo tincidunt.</p>
  </section>
  <section>
    <p>In auctor nunc vitae justo luctus, eget sagittis nunc finibus. Nullam elementum ultricies convallis. Proin interdum lacinia sagittis. Maecenas porta ipsum odio, sit amet gravida nisi mattis in. Pellentesque scelerisque odio commodo consequat convallis. Pellentesque leo ante, ornare id pharetra sed, gravida sed ligula. Etiam nibh metus, fringilla at odio et, lobortis euismod sem. Integer feugiat lacus metus. Aliquam erat volutpat.</p>
  </section>  
</div>

  </body>
</html>
