@import url("https://fonts.googleapis.com/css?family=Encode+Sans");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Encode Sans', sans-serif;
  background: #FFFFFE;
  overflow: hidden;
}

.field-name {
  font-size: 14px;
  color: #271E25;
}

input {
  width: 200px;
  height: 25px;
  border-radius: 30px;
  border: 1px solid #CCC;
  outline: none;
  padding-left: 10px;
  font-size: 13px;
  margin-left: -4px;
}

.bar {
  width: 50px;
  height: 3px;
  background: #FDD835;
  transition: 0.5s all ease;
  max-width: 200px;
  margin: 10px 0 5px 5px;
  position: relative;
}

.red {
  background: #F44336;
}

.yellow {
  background: #FDD835;
}

.blue {
  background: #1E88E5;
}

.strength {
  font-size: 13px;
  color: #271E25;
  position: relative;
  top: 5px;
  left: 0;
  transition: 0.5s all ease;
}
