<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=KoHo:200,300,400,500,600,700" rel="stylesheet">
  </head>
  <body>
    <style>:root { --n: 5 }</style>
    <article data-title="Title" style="--idx: 0; --slist: #fff251,#ffb258;">
      <h3>Heading</h3>
      <p>Some Text Here</p>
    </article>
    <article data-title="Title" style="--idx: 1; --slist: #fdb970,#ff8588;">
      <h3>Heading</h3>
      <p>Some Text Here</p>
    </article>
    <article data-title="Title" style="--idx: 2; --slist: #fc7190,#d2659e;">
      <h3>Heading</h3>
      <p>Some Text Here</p>
    </article>
    <article data-title="Title" style="--idx: 3; --slist: #de99cf,#9d5a86;">
      <h3>Heading</h3>
      <p>Some Text Here</p>
    </article>
    <article data-title="Title" style="--idx: 4; --slist: #50ccca,#4aa3b5;">
      <h3>Heading</h3>
      <p>Some Text Here</p>
    </article>
  </body>
</html>
