
body, html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

canvas{
  background: #000;
}

#info{
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  background: #272727;
  padding: 10px 20px;
  border-radius: 100px;
  text-align: center;
  line-height: 30px;
}