<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300" rel="stylesheet"> 
    <link href="css/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <style>:root { --n: 5 }</style>
    <article style="--idx: 0;--c0: #b071fe;--c1: #c08fff;--c2: #8d5bcc;">
      <h3>Heading</h3>
      <p>Some Text Here</p>
    </article>
    <article style="--idx: 1;--c0: #f88c06;--c1: #f7a334;--c2: #c87107;">
      <h3>Heading</h3>
      <p>Some Text Here</p>
    </article>
    <article style="--idx: 2;--c0: #b3de15;--c1: #c2e443;--c2: #8fb112;">
      <h3>Heading</h3>
      <p>Some Text Here</p>
    </article>
    <article style="--idx: 3;--c0: #e43695;--c1: #e95eab;--c2: #b52e78;">
      <h3>Heading</h3>
      <p>Some Text Here</p>
    </article>
    <article style="--idx: 4;--c0: #09c3d0;--c1: #3aced6;--c2: #0a9da7;">
      <h3>Heading</h3>
      <p>Some Text Here</p>
    </article>
  </body>
</html>
