<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <ul class="honeycomb" lang="es">
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="images/image-1.jpg">
        <div class="honeycomb-cell__title">Title</div>
      </li>
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="images/image-2.jpg">
        <div class="honeycomb-cell__title">Title</div>
      </li>
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="images/image-3.jpg">
        <div class="honeycomb-cell__title">Tablero doble cara</div>
      </li>
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="images/image-4.jpg">
        <div class="honeycomb-cell__title">Title</div>
      </li>
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="images/image-5.jpg">
        <div class="honeycomb-cell__title">Title</div>
      </li>
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="images/image-6.jpg">
        <div class="honeycomb-cell__title">Title</div>
      </li>
      <li class="honeycomb-cell">
        <img class="honeycomb-cell__image" src="images/image-7.jpg">
        <div class="honeycomb-cell__title">Title</div>
      </li>
      <li class="honeycomb-cell honeycomb__placeholder"></li>
    </ul>
  </body>
</html>
