@import url("https://fonts.googleapis.com/css?family=Bungee");
*, *:before, *:after {
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

body {
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-size: cover;
  font-family: 'Bungee', sans-serif;
}

.buddy {
  min-height: 300px;
  min-width: 300px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, aqua, royalblue);
  position: relative;
  cursor: pointer;
}
.buddy .zzz {
  position: absolute;
  right: 45px;
  top: 135px;
  color: white;
  transform-origin: left;
  animation: pulse 1s infinite alternate-reverse;
}
.buddy .zzz span {
  text-shadow: 0 0 10px white;
}
.buddy .zzz span:nth-child(1) {
  font-size: 2rem;
}
.buddy .zzz span:nth-child(2) {
  font-size: 2.5rem;
}
.buddy .zzz span:nth-child(3) {
  font-size: 3rem;
}
.buddy::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 17px;
  background: #00D4FF;
  left: -80px;
  top: 50%;
  border-radius: 7px;
  display: none;
  transition: all .5s;
  transform-origin: right;
  animation: wave .1s infinite alternate-reverse;
}
.buddy::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 17px;
  right: -80px;
  top: 50%;
  background: #00D4FF;
  display: none;
  border-radius: 7px;
  transition: all .5s;
  transform-origin: left;
  animation: wave .1s infinite alternate-reverse;
}
.buddy:hover {
  box-shadow: 0 0 200px #00b3ff, 0px 0px 70px #ffffff;
}
.buddy:hover .zzz {
  display: none;
  animation: none;
}
.buddy:hover .mouth {
  width: 150px;
  height: 80px;
  border-radius: 20px;
  background: radial-gradient(#404040, black);
  transform: translateX(-50%);
  animation: none;
}
.buddy:hover .mouth:before {
  display: none;
}
.buddy:hover .mouth:after {
  display: none;
}
.buddy:hover .mouth span {
  display: block;
}
.buddy:hover .eye {
  transform: scale(1);
}
.buddy:hover .eyes-closed {
  transform: scale(0);
}
.buddy:hover::before, .buddy:hover::after {
  display: block;
}

.eyes-closed {
  margin: 3rem auto;
  position: absolute;
  width: 100px;
  top: 37px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  display: flex;
  justify-content: space-between;
  transition: all .5s;
}
.eyes-closed .eye {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-bottom: 10px solid black;
}

.eyes-open {
  width: 100px;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
}
.eyes-open .eye {
  transform: scale(0);
  height: 50px;
  width: 30px;
  border-radius: 20px;
  background: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  position: relative;
  transition: all .15s;
  transform-origin: bottom;
}
.eyes-open .eye::before {
  content: '|||||';
  font-family: sans-serif;
  color: black;
  position: absolute;
  z-index: 10;
  text-align: center;
  min-height: 20px;
  width: 100%;
  font-weight: bold;
  top: -30px;
}
.eyes-open .eye::after {
  content: '';
  position: absolute;
  z-index: 10;
  text-align: center;
  width: 100%;
  border-top: 5px solid black;
  border-radius: 50%;
  min-height: 30px;
  font-weight: bold;
  top: -10px;
}

.mouth {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  animation: breathing 1s infinite alternate-reverse;
}
.mouth:before {
  content: '';
  position: absolute;
  height: 50px;
  width: 9px;
  bottom: -50px;
  left: 16px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: aqua;
}
.mouth:after {
  content: '';
  position: absolute;
  height: 20px;
  width: 8px;
  bottom: -20px;
  left: 9px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: aqua;
}
.mouth span {
  display: none;
  font-size: 23px;
  color: white;
  animation: pulse 1s infinite alternate-reverse;
}

#jin {
  position: absolute;
  bottom: 0;
  left: 10px;
  color: white;
}
#jin a {
  display: inline-block;
  transition: all .3s;
  transform-origin: bottom left;
}
#jin:hover > a {
  color: lime;
  transform: scale(1.5);
}

@keyframes wave {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes breathing {
  0% {
    transform: translateX(-50%) scale(0.7);
  }
  100% {
    transform: translateX(-50%) scale(1.3);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.3);
  }
}
