
@import "compass/css3";

html,body {margin:0; padding:10px; -webkit-backface-visibility:hidden;}

html {
  font-family: "Calibri", "Trebuchet MS", "Helvetica", sans-serif;
}
h3 {
  margin-top: 0;
  font-size: 24px;
}
a,
  a:visited {
    color: #1760BF;
    text-decoration: none;
  }
  a:hover {
    color: #c00;
  }
.links {
  ul {
    
  }
  li {
   margin-bottom: 5px; 
  }
}
h4 {
  margin: 24px 0 0 0;
}

.bottom-text {
  margin-top: 40px;
  border-top: 2px solid #e5e7e9;
  a {
    border-bottom: 1px solid #e5e7e9;
  }
  p {
   max-width: 650px; 
  }
}

.hidden {
  overflow: hidden;
  display: none;
  visibility: hidden;
}

.btn-gallery img {
  max-width: 300px;
  height: auto;
}