body {
  background: #212121;
}

#webairtext {
  font-weight: bold;
  text-transform: uppercase;
  color: #212121;
  font-size: 8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: .15em;
}
#webairtext:hover {
  text-decoration: none;
}
#webairtext:hover > span i {
  -webkit-text-stroke: 1px rgba(255, 34, 85, 0.3);
}
#webairtext > span {
  position: relative;
}
#webairtext > span i {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  transition: 200ms -webkit-text-stroke linear;
  will-change: -webkit-text-stroke, transform;
  position: absolute;
  left: 0;
  top: 0;
  font-style: normal;
  -webkit-animation: 3s infinite alternate shift ease-in-out;
          animation: 3s infinite alternate shift ease-in-out;
  will-change: transform;
}
#webairtext > span:nth-child(1) {
  z-index: 9;
}
#webairtext > span:nth-child(1) i:nth-child(1) {
  transition-delay: calc(70ms + 10ms);
  -webkit-animation-delay: calc(170ms + 100ms);
          animation-delay: calc(170ms + 100ms);
}
#webairtext > span:nth-child(1) i:nth-child(2) {
  transition-delay: calc(70ms + 20ms);
  -webkit-animation-delay: calc(170ms + 200ms);
          animation-delay: calc(170ms + 200ms);
}
#webairtext > span:nth-child(1) i:nth-child(3) {
  transition-delay: calc(70ms + 30ms);
  -webkit-animation-delay: calc(170ms + 300ms);
          animation-delay: calc(170ms + 300ms);
}
#webairtext > span:nth-child(1) i:nth-child(4) {
  transition-delay: calc(70ms + 40ms);
  -webkit-animation-delay: calc(170ms + 400ms);
          animation-delay: calc(170ms + 400ms);
}
#webairtext > span:nth-child(1) i:nth-child(5) {
  transition-delay: calc(70ms + 50ms);
  -webkit-animation-delay: calc(170ms + 500ms);
          animation-delay: calc(170ms + 500ms);
}
#webairtext > span:nth-child(1) i:nth-child(6) {
  transition-delay: calc(70ms + 60ms);
  -webkit-animation-delay: calc(170ms + 600ms);
          animation-delay: calc(170ms + 600ms);
}
#webairtext > span:nth-child(1) i:nth-child(7) {
  transition-delay: calc(70ms + 70ms);
  -webkit-animation-delay: calc(170ms + 700ms);
          animation-delay: calc(170ms + 700ms);
}
#webairtext > span:nth-child(1) i:nth-child(8) {
  transition-delay: calc(70ms + 80ms);
  -webkit-animation-delay: calc(170ms + 800ms);
          animation-delay: calc(170ms + 800ms);
}
#webairtext > span:nth-child(1) i:nth-child(9) {
  transition-delay: calc(70ms + 90ms);
  -webkit-animation-delay: calc(170ms + 900ms);
          animation-delay: calc(170ms + 900ms);
}
#webairtext > span:nth-child(1) i:nth-child(10) {
  transition-delay: calc(70ms + 100ms);
  -webkit-animation-delay: calc(170ms + 1000ms);
          animation-delay: calc(170ms + 1000ms);
}
#webairtext > span:nth-child(2) {
  z-index: 8;
}
#webairtext > span:nth-child(2) i:nth-child(1) {
  transition-delay: calc(140ms + 10ms);
  -webkit-animation-delay: calc(340ms + 100ms);
          animation-delay: calc(340ms + 100ms);
}
#webairtext > span:nth-child(2) i:nth-child(2) {
  transition-delay: calc(140ms + 20ms);
  -webkit-animation-delay: calc(340ms + 200ms);
          animation-delay: calc(340ms + 200ms);
}
#webairtext > span:nth-child(2) i:nth-child(3) {
  transition-delay: calc(140ms + 30ms);
  -webkit-animation-delay: calc(340ms + 300ms);
          animation-delay: calc(340ms + 300ms);
}
#webairtext > span:nth-child(2) i:nth-child(4) {
  transition-delay: calc(140ms + 40ms);
  -webkit-animation-delay: calc(340ms + 400ms);
          animation-delay: calc(340ms + 400ms);
}
#webairtext > span:nth-child(2) i:nth-child(5) {
  transition-delay: calc(140ms + 50ms);
  -webkit-animation-delay: calc(340ms + 500ms);
          animation-delay: calc(340ms + 500ms);
}
#webairtext > span:nth-child(2) i:nth-child(6) {
  transition-delay: calc(140ms + 60ms);
  -webkit-animation-delay: calc(340ms + 600ms);
          animation-delay: calc(340ms + 600ms);
}
#webairtext > span:nth-child(2) i:nth-child(7) {
  transition-delay: calc(140ms + 70ms);
  -webkit-animation-delay: calc(340ms + 700ms);
          animation-delay: calc(340ms + 700ms);
}
#webairtext > span:nth-child(2) i:nth-child(8) {
  transition-delay: calc(140ms + 80ms);
  -webkit-animation-delay: calc(340ms + 800ms);
          animation-delay: calc(340ms + 800ms);
}
#webairtext > span:nth-child(2) i:nth-child(9) {
  transition-delay: calc(140ms + 90ms);
  -webkit-animation-delay: calc(340ms + 900ms);
          animation-delay: calc(340ms + 900ms);
}
#webairtext > span:nth-child(2) i:nth-child(10) {
  transition-delay: calc(140ms + 100ms);
  -webkit-animation-delay: calc(340ms + 1000ms);
          animation-delay: calc(340ms + 1000ms);
}
#webairtext > span:nth-child(3) {
  z-index: 7;
}
#webairtext > span:nth-child(3) i:nth-child(1) {
  transition-delay: calc(210ms + 10ms);
  -webkit-animation-delay: calc(510ms + 100ms);
          animation-delay: calc(510ms + 100ms);
}
#webairtext > span:nth-child(3) i:nth-child(2) {
  transition-delay: calc(210ms + 20ms);
  -webkit-animation-delay: calc(510ms + 200ms);
          animation-delay: calc(510ms + 200ms);
}
#webairtext > span:nth-child(3) i:nth-child(3) {
  transition-delay: calc(210ms + 30ms);
  -webkit-animation-delay: calc(510ms + 300ms);
          animation-delay: calc(510ms + 300ms);
}
#webairtext > span:nth-child(3) i:nth-child(4) {
  transition-delay: calc(210ms + 40ms);
  -webkit-animation-delay: calc(510ms + 400ms);
          animation-delay: calc(510ms + 400ms);
}
#webairtext > span:nth-child(3) i:nth-child(5) {
  transition-delay: calc(210ms + 50ms);
  -webkit-animation-delay: calc(510ms + 500ms);
          animation-delay: calc(510ms + 500ms);
}
#webairtext > span:nth-child(3) i:nth-child(6) {
  transition-delay: calc(210ms + 60ms);
  -webkit-animation-delay: calc(510ms + 600ms);
          animation-delay: calc(510ms + 600ms);
}
#webairtext > span:nth-child(3) i:nth-child(7) {
  transition-delay: calc(210ms + 70ms);
  -webkit-animation-delay: calc(510ms + 700ms);
          animation-delay: calc(510ms + 700ms);
}
#webairtext > span:nth-child(3) i:nth-child(8) {
  transition-delay: calc(210ms + 80ms);
  -webkit-animation-delay: calc(510ms + 800ms);
          animation-delay: calc(510ms + 800ms);
}
#webairtext > span:nth-child(3) i:nth-child(9) {
  transition-delay: calc(210ms + 90ms);
  -webkit-animation-delay: calc(510ms + 900ms);
          animation-delay: calc(510ms + 900ms);
}
#webairtext > span:nth-child(3) i:nth-child(10) {
  transition-delay: calc(210ms + 100ms);
  -webkit-animation-delay: calc(510ms + 1000ms);
          animation-delay: calc(510ms + 1000ms);
}
#webairtext > span:nth-child(4) {
  z-index: 6;
}
#webairtext > span:nth-child(4) i:nth-child(1) {
  transition-delay: calc(280ms + 10ms);
  -webkit-animation-delay: calc(680ms + 100ms);
          animation-delay: calc(680ms + 100ms);
}
#webairtext > span:nth-child(4) i:nth-child(2) {
  transition-delay: calc(280ms + 20ms);
  -webkit-animation-delay: calc(680ms + 200ms);
          animation-delay: calc(680ms + 200ms);
}
#webairtext > span:nth-child(4) i:nth-child(3) {
  transition-delay: calc(280ms + 30ms);
  -webkit-animation-delay: calc(680ms + 300ms);
          animation-delay: calc(680ms + 300ms);
}
#webairtext > span:nth-child(4) i:nth-child(4) {
  transition-delay: calc(280ms + 40ms);
  -webkit-animation-delay: calc(680ms + 400ms);
          animation-delay: calc(680ms + 400ms);
}
#webairtext > span:nth-child(4) i:nth-child(5) {
  transition-delay: calc(280ms + 50ms);
  -webkit-animation-delay: calc(680ms + 500ms);
          animation-delay: calc(680ms + 500ms);
}
#webairtext > span:nth-child(4) i:nth-child(6) {
  transition-delay: calc(280ms + 60ms);
  -webkit-animation-delay: calc(680ms + 600ms);
          animation-delay: calc(680ms + 600ms);
}
#webairtext > span:nth-child(4) i:nth-child(7) {
  transition-delay: calc(280ms + 70ms);
  -webkit-animation-delay: calc(680ms + 700ms);
          animation-delay: calc(680ms + 700ms);
}
#webairtext > span:nth-child(4) i:nth-child(8) {
  transition-delay: calc(280ms + 80ms);
  -webkit-animation-delay: calc(680ms + 800ms);
          animation-delay: calc(680ms + 800ms);
}
#webairtext > span:nth-child(4) i:nth-child(9) {
  transition-delay: calc(280ms + 90ms);
  -webkit-animation-delay: calc(680ms + 900ms);
          animation-delay: calc(680ms + 900ms);
}
#webairtext > span:nth-child(4) i:nth-child(10) {
  transition-delay: calc(280ms + 100ms);
  -webkit-animation-delay: calc(680ms + 1000ms);
          animation-delay: calc(680ms + 1000ms);
}
#webairtext > span:nth-child(5) {
  z-index: 5;
}
#webairtext > span:nth-child(5) i:nth-child(1) {
  transition-delay: calc(350ms + 10ms);
  -webkit-animation-delay: calc(850ms + 100ms);
          animation-delay: calc(850ms + 100ms);
}
#webairtext > span:nth-child(5) i:nth-child(2) {
  transition-delay: calc(350ms + 20ms);
  -webkit-animation-delay: calc(850ms + 200ms);
          animation-delay: calc(850ms + 200ms);
}
#webairtext > span:nth-child(5) i:nth-child(3) {
  transition-delay: calc(350ms + 30ms);
  -webkit-animation-delay: calc(850ms + 300ms);
          animation-delay: calc(850ms + 300ms);
}
#webairtext > span:nth-child(5) i:nth-child(4) {
  transition-delay: calc(350ms + 40ms);
  -webkit-animation-delay: calc(850ms + 400ms);
          animation-delay: calc(850ms + 400ms);
}
#webairtext > span:nth-child(5) i:nth-child(5) {
  transition-delay: calc(350ms + 50ms);
  -webkit-animation-delay: calc(850ms + 500ms);
          animation-delay: calc(850ms + 500ms);
}
#webairtext > span:nth-child(5) i:nth-child(6) {
  transition-delay: calc(350ms + 60ms);
  -webkit-animation-delay: calc(850ms + 600ms);
          animation-delay: calc(850ms + 600ms);
}
#webairtext > span:nth-child(5) i:nth-child(7) {
  transition-delay: calc(350ms + 70ms);
  -webkit-animation-delay: calc(850ms + 700ms);
          animation-delay: calc(850ms + 700ms);
}
#webairtext > span:nth-child(5) i:nth-child(8) {
  transition-delay: calc(350ms + 80ms);
  -webkit-animation-delay: calc(850ms + 800ms);
          animation-delay: calc(850ms + 800ms);
}
#webairtext > span:nth-child(5) i:nth-child(9) {
  transition-delay: calc(350ms + 90ms);
  -webkit-animation-delay: calc(850ms + 900ms);
          animation-delay: calc(850ms + 900ms);
}
#webairtext > span:nth-child(5) i:nth-child(10) {
  transition-delay: calc(350ms + 100ms);
  -webkit-animation-delay: calc(850ms + 1000ms);
          animation-delay: calc(850ms + 1000ms);
}
#webairtext > span:nth-child(6) {
  z-index: 4;
}
#webairtext > span:nth-child(6) i:nth-child(1) {
  transition-delay: calc(420ms + 10ms);
  -webkit-animation-delay: calc(1020ms + 100ms);
          animation-delay: calc(1020ms + 100ms);
}
#webairtext > span:nth-child(6) i:nth-child(2) {
  transition-delay: calc(420ms + 20ms);
  -webkit-animation-delay: calc(1020ms + 200ms);
          animation-delay: calc(1020ms + 200ms);
}
#webairtext > span:nth-child(6) i:nth-child(3) {
  transition-delay: calc(420ms + 30ms);
  -webkit-animation-delay: calc(1020ms + 300ms);
          animation-delay: calc(1020ms + 300ms);
}
#webairtext > span:nth-child(6) i:nth-child(4) {
  transition-delay: calc(420ms + 40ms);
  -webkit-animation-delay: calc(1020ms + 400ms);
          animation-delay: calc(1020ms + 400ms);
}
#webairtext > span:nth-child(6) i:nth-child(5) {
  transition-delay: calc(420ms + 50ms);
  -webkit-animation-delay: calc(1020ms + 500ms);
          animation-delay: calc(1020ms + 500ms);
}
#webairtext > span:nth-child(6) i:nth-child(6) {
  transition-delay: calc(420ms + 60ms);
  -webkit-animation-delay: calc(1020ms + 600ms);
          animation-delay: calc(1020ms + 600ms);
}
#webairtext > span:nth-child(6) i:nth-child(7) {
  transition-delay: calc(420ms + 70ms);
  -webkit-animation-delay: calc(1020ms + 700ms);
          animation-delay: calc(1020ms + 700ms);
}
#webairtext > span:nth-child(6) i:nth-child(8) {
  transition-delay: calc(420ms + 80ms);
  -webkit-animation-delay: calc(1020ms + 800ms);
          animation-delay: calc(1020ms + 800ms);
}
#webairtext > span:nth-child(6) i:nth-child(9) {
  transition-delay: calc(420ms + 90ms);
  -webkit-animation-delay: calc(1020ms + 900ms);
          animation-delay: calc(1020ms + 900ms);
}
#webairtext > span:nth-child(6) i:nth-child(10) {
  transition-delay: calc(420ms + 100ms);
  -webkit-animation-delay: calc(1020ms + 1000ms);
          animation-delay: calc(1020ms + 1000ms);
}
#webairtext > span:nth-child(7) {
  z-index: 3;
}
#webairtext > span:nth-child(7) i:nth-child(1) {
  transition-delay: calc(490ms + 10ms);
  -webkit-animation-delay: calc(1190ms + 100ms);
          animation-delay: calc(1190ms + 100ms);
}
#webairtext > span:nth-child(7) i:nth-child(2) {
  transition-delay: calc(490ms + 20ms);
  -webkit-animation-delay: calc(1190ms + 200ms);
          animation-delay: calc(1190ms + 200ms);
}
#webairtext > span:nth-child(7) i:nth-child(3) {
  transition-delay: calc(490ms + 30ms);
  -webkit-animation-delay: calc(1190ms + 300ms);
          animation-delay: calc(1190ms + 300ms);
}
#webairtext > span:nth-child(7) i:nth-child(4) {
  transition-delay: calc(490ms + 40ms);
  -webkit-animation-delay: calc(1190ms + 400ms);
          animation-delay: calc(1190ms + 400ms);
}
#webairtext > span:nth-child(7) i:nth-child(5) {
  transition-delay: calc(490ms + 50ms);
  -webkit-animation-delay: calc(1190ms + 500ms);
          animation-delay: calc(1190ms + 500ms);
}
#webairtext > span:nth-child(7) i:nth-child(6) {
  transition-delay: calc(490ms + 60ms);
  -webkit-animation-delay: calc(1190ms + 600ms);
          animation-delay: calc(1190ms + 600ms);
}
#webairtext > span:nth-child(7) i:nth-child(7) {
  transition-delay: calc(490ms + 70ms);
  -webkit-animation-delay: calc(1190ms + 700ms);
          animation-delay: calc(1190ms + 700ms);
}
#webairtext > span:nth-child(7) i:nth-child(8) {
  transition-delay: calc(490ms + 80ms);
  -webkit-animation-delay: calc(1190ms + 800ms);
          animation-delay: calc(1190ms + 800ms);
}
#webairtext > span:nth-child(7) i:nth-child(9) {
  transition-delay: calc(490ms + 90ms);
  -webkit-animation-delay: calc(1190ms + 900ms);
          animation-delay: calc(1190ms + 900ms);
}
#webairtext > span:nth-child(7) i:nth-child(10) {
  transition-delay: calc(490ms + 100ms);
  -webkit-animation-delay: calc(1190ms + 1000ms);
          animation-delay: calc(1190ms + 1000ms);
}
#webairtext > span:nth-child(8) {
  z-index: 2;
}
#webairtext > span:nth-child(8) i:nth-child(1) {
  transition-delay: calc(560ms + 10ms);
  -webkit-animation-delay: calc(1360ms + 100ms);
          animation-delay: calc(1360ms + 100ms);
}
#webairtext > span:nth-child(8) i:nth-child(2) {
  transition-delay: calc(560ms + 20ms);
  -webkit-animation-delay: calc(1360ms + 200ms);
          animation-delay: calc(1360ms + 200ms);
}
#webairtext > span:nth-child(8) i:nth-child(3) {
  transition-delay: calc(560ms + 30ms);
  -webkit-animation-delay: calc(1360ms + 300ms);
          animation-delay: calc(1360ms + 300ms);
}
#webairtext > span:nth-child(8) i:nth-child(4) {
  transition-delay: calc(560ms + 40ms);
  -webkit-animation-delay: calc(1360ms + 400ms);
          animation-delay: calc(1360ms + 400ms);
}
#webairtext > span:nth-child(8) i:nth-child(5) {
  transition-delay: calc(560ms + 50ms);
  -webkit-animation-delay: calc(1360ms + 500ms);
          animation-delay: calc(1360ms + 500ms);
}
#webairtext > span:nth-child(8) i:nth-child(6) {
  transition-delay: calc(560ms + 60ms);
  -webkit-animation-delay: calc(1360ms + 600ms);
          animation-delay: calc(1360ms + 600ms);
}
#webairtext > span:nth-child(8) i:nth-child(7) {
  transition-delay: calc(560ms + 70ms);
  -webkit-animation-delay: calc(1360ms + 700ms);
          animation-delay: calc(1360ms + 700ms);
}
#webairtext > span:nth-child(8) i:nth-child(8) {
  transition-delay: calc(560ms + 80ms);
  -webkit-animation-delay: calc(1360ms + 800ms);
          animation-delay: calc(1360ms + 800ms);
}

#webairtext > span:nth-child(8) i:nth-child(9) {
  transition-delay: calc(560ms + 90ms);
  -webkit-animation-delay: calc(1360ms + 900ms);
          animation-delay: calc(1360ms + 900ms);
}
#webairtext > span:nth-child(8) i:nth-child(10) {
  transition-delay: calc(560ms + 100ms);
  -webkit-animation-delay: calc(1360ms + 1000ms);
          animation-delay: calc(1360ms + 1000ms);
}
#webairtext > span:nth-child(9) {
  z-index: 1;
}
#webairtext > span:nth-child(9) i:nth-child(1) {
  transition-delay: calc(630ms + 10ms);
  -webkit-animation-delay: calc(1530ms + 100ms);
          animation-delay: calc(1530ms + 100ms);
}
#webairtext > span:nth-child(9) i:nth-child(2) {
  transition-delay: calc(630ms + 20ms);
  -webkit-animation-delay: calc(1530ms + 200ms);
          animation-delay: calc(1530ms + 200ms);
}
#webairtext > span:nth-child(9) i:nth-child(3) {
  transition-delay: calc(630ms + 30ms);
  -webkit-animation-delay: calc(1530ms + 300ms);
          animation-delay: calc(1530ms + 300ms);
}
#webairtext > span:nth-child(9) i:nth-child(4) {
  transition-delay: calc(630ms + 40ms);
  -webkit-animation-delay: calc(1530ms + 400ms);
          animation-delay: calc(1530ms + 400ms);
}
#webairtext > span:nth-child(9) i:nth-child(5) {
  transition-delay: calc(630ms + 50ms);
  -webkit-animation-delay: calc(1530ms + 500ms);
          animation-delay: calc(1530ms + 500ms);
}
#webairtext > span:nth-child(9) i:nth-child(6) {
  transition-delay: calc(630ms + 60ms);
  -webkit-animation-delay: calc(1530ms + 600ms);
          animation-delay: calc(1530ms + 600ms);
}
#webairtext > span:nth-child(9) i:nth-child(7) {
  transition-delay: calc(630ms + 70ms);
  -webkit-animation-delay: calc(1530ms + 700ms);
          animation-delay: calc(1530ms + 700ms);
}
#webairtext > span:nth-child(9) i:nth-child(8) {
  transition-delay: calc(630ms + 80ms);
  -webkit-animation-delay: calc(1530ms + 800ms);
          animation-delay: calc(1530ms + 800ms);
}
#webairtext > span:nth-child(9) i:nth-child(9) {
  transition-delay: calc(630ms + 90ms);
  -webkit-animation-delay: calc(1530ms + 900ms);
          animation-delay: calc(1530ms + 900ms);
}
#webairtext > span:nth-child(9) i:nth-child(10) {
  transition-delay: calc(630ms + 100ms);
  -webkit-animation-delay: calc(1530ms + 1000ms);
          animation-delay: calc(1530ms + 1000ms);
}
#webairtext > span:nth-child(10) {
  z-index: 0;
}
#webairtext > span:nth-child(10) i:nth-child(1) {
  transition-delay: calc(700ms + 10ms);
  -webkit-animation-delay: calc(1700ms + 100ms);
          animation-delay: calc(1700ms + 100ms);
}
#webairtext > span:nth-child(10) i:nth-child(2) {
  transition-delay: calc(700ms + 20ms);
  -webkit-animation-delay: calc(1700ms + 200ms);
          animation-delay: calc(1700ms + 200ms);
}
#webairtext > span:nth-child(10) i:nth-child(3) {
  transition-delay: calc(700ms + 30ms);
  -webkit-animation-delay: calc(1700ms + 300ms);
          animation-delay: calc(1700ms + 300ms);
}
#webairtext > span:nth-child(10) i:nth-child(4) {
  transition-delay: calc(700ms + 40ms);
  -webkit-animation-delay: calc(1700ms + 400ms);
          animation-delay: calc(1700ms + 400ms);
}
#webairtext > span:nth-child(10) i:nth-child(5) {
  transition-delay: calc(700ms + 50ms);
  -webkit-animation-delay: calc(1700ms + 500ms);
          animation-delay: calc(1700ms + 500ms);
}
#webairtext > span:nth-child(10) i:nth-child(6) {
  transition-delay: calc(700ms + 60ms);
  -webkit-animation-delay: calc(1700ms + 600ms);
          animation-delay: calc(1700ms + 600ms);
}
#webairtext > span:nth-child(10) i:nth-child(7) {
  transition-delay: calc(700ms + 70ms);
  -webkit-animation-delay: calc(1700ms + 700ms);
          animation-delay: calc(1700ms + 700ms);
}
#webairtext > span:nth-child(10) i:nth-child(8) {
  transition-delay: calc(700ms + 80ms);
  -webkit-animation-delay: calc(1700ms + 800ms);
          animation-delay: calc(1700ms + 800ms);
}
#webairtext > span:nth-child(10) i:nth-child(9) {
  transition-delay: calc(700ms + 90ms);
  -webkit-animation-delay: calc(1700ms + 900ms);
          animation-delay: calc(1700ms + 900ms);
}
#webairtext > span:nth-child(10) i:nth-child(10) {
  transition-delay: calc(700ms + 100ms);
  -webkit-animation-delay: calc(1700ms + 1000ms);
          animation-delay: calc(1700ms + 1000ms);
}

@-webkit-keyframes shift {
  0% {
    -webkit-transform: translate(-0.25em, 0);
            transform: translate(-0.25em, 0);
  }
  50% {
    -webkit-transform: translate(0.25em, 0);
            transform: translate(0.25em, 0);
  }
}

@keyframes shift {
  0% {
    -webkit-transform: translate(-0.25em, 0);
            transform: translate(-0.25em, 0);
  }
  50% {
    -webkit-transform: translate(0.25em, 0);
            transform: translate(0.25em, 0);
  }
}
