body {
	background-color:#2b2b2b;
	font-size: 62.5%;
	font-family: open-sans, serif;
}

.nav {
	margin:10%;
}

.nav a {
	margin-left: -3px;
	padding: 12px 20px;
	outline: none;
	border: 1px solid #121212;
	border-right: none;
	background: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.34) 100%) repeat scroll 0 0 transparent;
	box-shadow: 0 2px 3px rgba(255, 255, 255, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
	color: #777777;
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 -1px #0F0F0F;
	font-size: 13px;
	line-height: 21px;
	cursor: pointer;
    -webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.nav a:hover {
	color:#f6f6f6;
}

.nav a:first-child {
	border-radius: 6px 0 0 6px;
}

.nav a:last-child {
	border-radius: 0 6px 6px 0;
}

.nav a:active {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
}

.nav a.highlight {
	background: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.44) 100%) repeat scroll 0 0 transparent;
	color: #f6f6f6;
}

.nav a:last-child {
	border-right: 1px solid #121212;
}
