html,
body {
  margin: 0;
  padding: 0;
  display: flex;
}
html,
body,
canvas {
  width: 100%;
  height: 100%;
}
canvas {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
.audio {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #222;
  color: #eee;
  padding: 1rem;
  width: 100px;
  height: 100px;
}
.audio svg {
  fill: #777;
  stroke: #777;
}
.audio.enabled svg {
  fill: #eee;
  stroke: #eee;
}
