@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: #fff;
  font-family: Inconsolata, monospace;
  font-size: 24px;
  background-image: radial-gradient(circle at center, #ff1ead 0%, #000 0% 100%);
  border: solid 4px #fff;
  padding: 20px 30px;
}
.btn.rippling {
  animation: pop-ripple 250ms ease-out forwards;
}
.btn.fade {
  animation: pop-fade 300ms ease-in-out forwards;
}

@keyframes pop-ripple {
  0% {
    background-image: radial-gradient(circle at center, #ff1ead 0%, #000 0%);
  }
  1% {
    background-image: radial-gradient(circle at center, #ff1ead 1%, #000 1%);
  }
  2% {
    background-image: radial-gradient(circle at center, #ff1ead 2%, #000 2%);
  }
  3% {
    background-image: radial-gradient(circle at center, #ff1ead 3%, #000 3%);
  }
  4% {
    background-image: radial-gradient(circle at center, #ff1ead 4%, #000 4%);
  }
  5% {
    background-image: radial-gradient(circle at center, #ff1ead 5%, #000 5%);
  }
  6% {
    background-image: radial-gradient(circle at center, #ff1ead 6%, #000 6%);
  }
  7% {
    background-image: radial-gradient(circle at center, #ff1ead 7%, #000 7%);
  }
  8% {
    background-image: radial-gradient(circle at center, #ff1ead 8%, #000 8%);
  }
  9% {
    background-image: radial-gradient(circle at center, #ff1ead 9%, #000 9%);
  }
  10% {
    background-image: radial-gradient(circle at center, #ff1ead 10%, #000 10%);
  }
  11% {
    background-image: radial-gradient(circle at center, #ff1ead 11%, #000 11%);
  }
  12% {
    background-image: radial-gradient(circle at center, #ff1ead 12%, #000 12%);
  }
  13% {
    background-image: radial-gradient(circle at center, #ff1ead 13%, #000 13%);
  }
  14% {
    background-image: radial-gradient(circle at center, #ff1ead 14%, #000 14%);
  }
  15% {
    background-image: radial-gradient(circle at center, #ff1ead 15%, #000 15%);
  }
  16% {
    background-image: radial-gradient(circle at center, #ff1ead 16%, #000 16%);
  }
  17% {
    background-image: radial-gradient(circle at center, #ff1ead 17%, #000 17%);
  }
  18% {
    background-image: radial-gradient(circle at center, #ff1ead 18%, #000 18%);
  }
  19% {
    background-image: radial-gradient(circle at center, #ff1ead 19%, #000 19%);
  }
  20% {
    background-image: radial-gradient(circle at center, #ff1ead 20%, #000 20%);
  }
  21% {
    background-image: radial-gradient(circle at center, #ff1ead 21%, #000 21%);
  }
  22% {
    background-image: radial-gradient(circle at center, #ff1ead 22%, #000 22%);
  }
  23% {
    background-image: radial-gradient(circle at center, #ff1ead 23%, #000 23%);
  }
  24% {
    background-image: radial-gradient(circle at center, #ff1ead 24%, #000 24%);
  }
  25% {
    background-image: radial-gradient(circle at center, #ff1ead 25%, #000 25%);
  }
  26% {
    background-image: radial-gradient(circle at center, #ff1ead 26%, #000 26%);
  }
  27% {
    background-image: radial-gradient(circle at center, #ff1ead 27%, #000 27%);
  }
  28% {
    background-image: radial-gradient(circle at center, #ff1ead 28%, #000 28%);
  }
  29% {
    background-image: radial-gradient(circle at center, #ff1ead 29%, #000 29%);
  }
  30% {
    background-image: radial-gradient(circle at center, #ff1ead 30%, #000 30%);
  }
  31% {
    background-image: radial-gradient(circle at center, #ff1ead 31%, #000 31%);
  }
  32% {
    background-image: radial-gradient(circle at center, #ff1ead 32%, #000 32%);
  }
  33% {
    background-image: radial-gradient(circle at center, #ff1ead 33%, #000 33%);
  }
  34% {
    background-image: radial-gradient(circle at center, #ff1ead 34%, #000 34%);
  }
  35% {
    background-image: radial-gradient(circle at center, #ff1ead 35%, #000 35%);
  }
  36% {
    background-image: radial-gradient(circle at center, #ff1ead 36%, #000 36%);
  }
  37% {
    background-image: radial-gradient(circle at center, #ff1ead 37%, #000 37%);
  }
  38% {
    background-image: radial-gradient(circle at center, #ff1ead 38%, #000 38%);
  }
  39% {
    background-image: radial-gradient(circle at center, #ff1ead 39%, #000 39%);
  }
  40% {
    background-image: radial-gradient(circle at center, #ff1ead 40%, #000 40%);
  }
  41% {
    background-image: radial-gradient(circle at center, #ff1ead 41%, #000 41%);
  }
  42% {
    background-image: radial-gradient(circle at center, #ff1ead 42%, #000 42%);
  }
  43% {
    background-image: radial-gradient(circle at center, #ff1ead 43%, #000 43%);
  }
  44% {
    background-image: radial-gradient(circle at center, #ff1ead 44%, #000 44%);
  }
  45% {
    background-image: radial-gradient(circle at center, #ff1ead 45%, #000 45%);
  }
  46% {
    background-image: radial-gradient(circle at center, #ff1ead 46%, #000 46%);
  }
  47% {
    background-image: radial-gradient(circle at center, #ff1ead 47%, #000 47%);
  }
  48% {
    background-image: radial-gradient(circle at center, #ff1ead 48%, #000 48%);
  }
  49% {
    background-image: radial-gradient(circle at center, #ff1ead 49%, #000 49%);
  }
  50% {
    background-image: radial-gradient(circle at center, #ff1ead 50%, #000 50%);
  }
  51% {
    background-image: radial-gradient(circle at center, #ff1ead 51%, #000 51%);
  }
  52% {
    background-image: radial-gradient(circle at center, #ff1ead 52%, #000 52%);
  }
  53% {
    background-image: radial-gradient(circle at center, #ff1ead 53%, #000 53%);
  }
  54% {
    background-image: radial-gradient(circle at center, #ff1ead 54%, #000 54%);
  }
  55% {
    background-image: radial-gradient(circle at center, #ff1ead 55%, #000 55%);
  }
  56% {
    background-image: radial-gradient(circle at center, #ff1ead 56%, #000 56%);
  }
  57% {
    background-image: radial-gradient(circle at center, #ff1ead 57%, #000 57%);
  }
  58% {
    background-image: radial-gradient(circle at center, #ff1ead 58%, #000 58%);
  }
  59% {
    background-image: radial-gradient(circle at center, #ff1ead 59%, #000 59%);
  }
  60% {
    background-image: radial-gradient(circle at center, #ff1ead 60%, #000 60%);
  }
  61% {
    background-image: radial-gradient(circle at center, #ff1ead 61%, #000 61%);
  }
  62% {
    background-image: radial-gradient(circle at center, #ff1ead 62%, #000 62%);
  }
  63% {
    background-image: radial-gradient(circle at center, #ff1ead 63%, #000 63%);
  }
  64% {
    background-image: radial-gradient(circle at center, #ff1ead 64%, #000 64%);
  }
  65% {
    background-image: radial-gradient(circle at center, #ff1ead 65%, #000 65%);
  }
  66% {
    background-image: radial-gradient(circle at center, #ff1ead 66%, #000 66%);
  }
  67% {
    background-image: radial-gradient(circle at center, #ff1ead 67%, #000 67%);
  }
  68% {
    background-image: radial-gradient(circle at center, #ff1ead 68%, #000 68%);
  }
  69% {
    background-image: radial-gradient(circle at center, #ff1ead 69%, #000 69%);
  }
  70% {
    background-image: radial-gradient(circle at center, #ff1ead 70%, #000 70%);
  }
  71% {
    background-image: radial-gradient(circle at center, #ff1ead 71%, #000 71%);
  }
  72% {
    background-image: radial-gradient(circle at center, #ff1ead 72%, #000 72%);
  }
  73% {
    background-image: radial-gradient(circle at center, #ff1ead 73%, #000 73%);
  }
  74% {
    background-image: radial-gradient(circle at center, #ff1ead 74%, #000 74%);
  }
  75% {
    background-image: radial-gradient(circle at center, #ff1ead 75%, #000 75%);
  }
  76% {
    background-image: radial-gradient(circle at center, #ff1ead 76%, #000 76%);
  }
  77% {
    background-image: radial-gradient(circle at center, #ff1ead 77%, #000 77%);
  }
  78% {
    background-image: radial-gradient(circle at center, #ff1ead 78%, #000 78%);
  }
  79% {
    background-image: radial-gradient(circle at center, #ff1ead 79%, #000 79%);
  }
  80% {
    background-image: radial-gradient(circle at center, #ff1ead 80%, #000 80%);
  }
  81% {
    background-image: radial-gradient(circle at center, #ff1ead 81%, #000 81%);
  }
  82% {
    background-image: radial-gradient(circle at center, #ff1ead 82%, #000 82%);
  }
  83% {
    background-image: radial-gradient(circle at center, #ff1ead 83%, #000 83%);
  }
  84% {
    background-image: radial-gradient(circle at center, #ff1ead 84%, #000 84%);
  }
  85% {
    background-image: radial-gradient(circle at center, #ff1ead 85%, #000 85%);
  }
  86% {
    background-image: radial-gradient(circle at center, #ff1ead 86%, #000 86%);
  }
  87% {
    background-image: radial-gradient(circle at center, #ff1ead 87%, #000 87%);
  }
  88% {
    background-image: radial-gradient(circle at center, #ff1ead 88%, #000 88%);
  }
  89% {
    background-image: radial-gradient(circle at center, #ff1ead 89%, #000 89%);
  }
  90% {
    background-image: radial-gradient(circle at center, #ff1ead 90%, #000 90%);
  }
  91% {
    background-image: radial-gradient(circle at center, #ff1ead 91%, #000 91%);
  }
  92% {
    background-image: radial-gradient(circle at center, #ff1ead 92%, #000 92%);
  }
  93% {
    background-image: radial-gradient(circle at center, #ff1ead 93%, #000 93%);
  }
  94% {
    background-image: radial-gradient(circle at center, #ff1ead 94%, #000 94%);
  }
  95% {
    background-image: radial-gradient(circle at center, #ff1ead 95%, #000 95%);
  }
  96% {
    background-image: radial-gradient(circle at center, #ff1ead 96%, #000 96%);
  }
  97% {
    background-image: radial-gradient(circle at center, #ff1ead 97%, #000 97%);
  }
  98% {
    background-image: radial-gradient(circle at center, #ff1ead 98%, #000 98%);
  }
  99% {
    background-image: radial-gradient(circle at center, #ff1ead 99%, #000 99%);
  }
  100% {
    background-image: radial-gradient(circle at center, #ff1ead 100%, #000 100%);
  }
}
@keyframes pop-fade {
  0% {
    background-image: radial-gradient(circle at center, #ff1ead 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  1% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.99) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  2% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.98) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  3% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.97) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  4% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.96) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  5% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.95) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  6% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.94) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  7% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.93) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  8% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.92) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  9% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.91) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  10% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.9) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  11% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.89) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  12% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.88) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  13% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.87) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  14% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.86) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  15% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.85) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  16% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.84) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  17% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.83) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  18% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.82) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  19% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.81) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  20% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.8) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  21% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.79) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  22% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.78) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  23% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.77) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  24% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.76) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  25% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.75) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  26% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.74) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  27% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.73) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  28% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.72) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  29% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.71) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  30% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.7) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  31% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.69) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  32% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.68) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  33% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.67) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  34% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.66) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  35% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.65) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  36% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.64) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  37% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.63) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  38% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.62) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  39% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.61) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  40% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.6) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  41% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.59) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  42% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.58) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  43% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.57) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  44% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.56) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  45% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.55) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  46% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.54) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  47% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.53) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  48% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.52) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  49% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.51) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  50% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.5) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  51% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.49) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  52% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.48) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  53% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.47) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  54% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.46) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  55% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.45) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  56% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.44) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  57% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.43) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  58% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.42) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  59% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.41) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  60% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.4) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  61% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.39) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  62% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.38) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  63% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.37) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  64% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.36) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  65% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.35) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  66% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.34) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  67% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.33) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  68% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.32) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  69% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.31) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  70% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.3) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  71% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.29) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  72% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.28) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  73% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.27) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  74% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.26) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  75% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.25) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  76% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.24) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  77% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.23) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  78% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.22) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  79% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.21) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  80% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.2) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  81% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.19) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  82% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.18) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  83% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.17) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  84% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.16) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  85% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.15) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  86% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.14) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  87% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.13) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  88% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.12) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  89% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.11) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  90% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.1) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  91% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.09) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  92% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.08) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  93% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.07) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  94% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.06) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  95% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.05) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  96% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.04) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  97% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.03) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  98% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.02) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  99% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0.01) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
  100% {
    background-image: radial-gradient(circle at center, rgba(255, 30, 173, 0) 0% 100%), radial-gradient(circle at center, #000 0% 100%);
  }
}
