html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #F6F6F7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a3b1c0;
}

.wrap {
  background: #fff;
  border-radius: 10px;
  padding: 39px 45px 19px;
}
.wrap .tips {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.wrap .tips p {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 60px;
}
.wrap .group {
  position: relative;
  padding-bottom: 5px;
}
.wrap .group::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #edf0f5;
  transition: all .15s ease-in-out;
  z-index: 1;
}
.wrap .group.active label {
  top: -15px;
  font-size: 14px;
}
.wrap .group.active::before {
  background: #6884dd;
}
.wrap svg {
  width: 70px;
  position: absolute;
  top: -21px;
  right: -20px;
  fill: #c5d6e7;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.wrap svg.active {
  fill: #428bfa;
}
.wrap label {
  position: absolute;
  top: 5px;
  left: 0;
  transition: all .15s ease-in-out;
  pointer-events: none;
}
.wrap .number {
  transition: all .2s ease-in-out;
}
.wrap .number.active {
  color: #428bfa;
}
.wrap .count {
  transition: all .2s ease-in-out;
}
.wrap .count.active {
  color: #428bfa;
}
.wrap .upper {
  transition: all .2s ease-in-out;
}
.wrap .upper.active {
  color: #428bfa;
}
.wrap input {
  border: 0;
  position: relative;
  display: block;
  width: 100%;
  padding: 4px 0;
}
.wrap input:focus {
  outline: none;
}

.github {
  width: 40px;
  height: 40px;
  background: url(http://alikinvv.github.io/github.svg) no-repeat center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  -webkit-animation: github 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s infinite;
          animation: github 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s infinite;
}

@-webkit-keyframes github {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes github {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
