<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div class="message hidden">
      <div class="msg-text">
        <span>View on desktop for <br/> full grid effect</span>
      </div>
    </div>
    <div class="grid grid--layout1" id="layout1">
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item grid__item--nav grid__item--prev">
        <span>&#60;</span>
      </div>
      <div class="grid__item grid__item--nav grid__item--next">
        <span>&#62;</span> 
      </div>
      <div class="grid__item grid__item--text grid__item--text1">
        <span> Red <br> Panda </span>
      </div>
      <div class="grid__item grid__item--text grid__item--text2">
        <span>Ailurus fulgens</span>
      </div>
      <div class="grid__item grid__item--text grid__item--text3">
        <span>Nepal</span>
      </div>
      <div class="grid__item grid__item--text grid__item--text4">
        <span>China</span>
      </div>
      <div class="grid__item grid__item--text grid__item--text5">
        <span>Myanmar</span>
      </div>
    </div>
    <div class="grid grid--layout2 hide" id="layout2">
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item"></div>
      <div class="grid__item grid__item--nav grid__item--prev">
        <span>&#60;</span>
      </div>
      <div class="grid__item grid__item--nav grid__item--next">
        <span>&#62;</span> 
      </div>
      <div class="grid__item grid__item--text grid__item--text6">
        <span>Giant<br>Panda</span>
      </div>
      <div class="grid__item grid__item--text grid__item--text7">
        <span>Ailuropoda melanoleuca</span>
      </div>
      <div class="grid__item grid__item--text grid__item--text8">
        <span>China</span>
      </div>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
