html {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #4CB8C4;
  color: white;
  scroll-behavior: smooth;
  max-width: 800px;
  margin: auto;
}

.table, .proposals, .input {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.table, .proposals {
  margin-top: 2rem;
  background: white;
  color: #333;
  border: 3px solid #efefef;
  border-radius: 3px;
}

.header * {
  font-weight: 300;
}
.header p {
  padding-bottom: 1rem;
}

.input {
  display: flex;
}
.input input {
  width: 100%;
  padding: .6rem;
  border-radius: 3px 0 0 3px;
  border: 3px solid #efefef;
  border-right: none;
}
.input input.invalid-input {
  border-bottom: 3px solid #de0e0e;
  color: #de0e0e;
}
.input button {
  background: rgba(255, 255, 255, 0.98);
  padding: .6rem 1rem;
  border: 3px solid #efefef;
  border-left: 1px solid #efefef;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.input button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.input button:active {
  background: rgba(255, 255, 255, 0.75);
}
.input button:focus {
  outline: none;
}

.table table {
  width: 100%;
}
.table table tr td {
  padding: .3rem;
}
.table table tr:first-child th {
  padding: .8rem;
  border-bottom: 2px solid #efefef;
}
.table table tr:first-child th:first-of-type {
  width: 80%;
}
.table table tr:nth-child(odd) td {
  background-color: #eee;
}
.table table td.result-positive {
  background-color: rgba(92, 184, 92, 0.4) !important;
}
.table table td.result-negative {
  background-color: rgba(217, 83, 79, 0.4) !important;
}

.proposals .d-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
}
.proposals .d-flex .proposal {
  /* As in bootstrap */
  position: relative;
  box-sizing: border-box;
  -ms-flex: 0 0 100%;
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin: .25rem 0;
  padding: 5px 15px;
  background: #f0f0f0;
  border-radius: 3px;
  text-align: left;
}
.proposals .d-flex .proposal b {
  padding-bottom: .5rem;
  display: block;
}
.proposals .d-flex .proposal .tryThisRegex {
  cursor: pointer;
}
.proposals .d-flex .proposal .regex {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  font-family: monospace;
}
.proposals .d-flex .proposal .regex .horiz-scroll {
  display: inline;
}

footer {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.5);
}
footer a {
  color: inherit;
}
