html {
  font-family: 'Staatliches', cursive;
  background-color: #EEE9E5;
}

body {
  margin: 0;
}

.challenge {
   min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #1E88E5;
}

h1 {
     font-size: 58px;
     text-transform: uppercase;
     text-shadow: 10px 10px 0 #b1b7bc;
  }

