html {
  height: 100%;
}
body {
  background: #EEFFFF;
  background: linear-gradient(#EEFFFF, #FFFFEE);
  height: 100%;
  overflow: hidden;
}

.tracer {
/*    border-radius: 5px; width: 5px; height: 5px; background: black; position: fixed; left: 0px; top: 0px; z-index: 1000; */
}
.print {
  animation-duration: 8s;
  animation-name: blurout;
  animation-fill-mode: forwards;
  height: 40px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 40px;
}
.print::before {
  animation-duration: .5s;
  animation-name: fadein;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/982762/paw4.svg) no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 40px;
  width: 40px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blurout {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(5px);
  }
}

  