@import url("https://fonts.googleapis.com/css?family=Roboto");
.c-search {
  font-family: "Roboto", sans-serif;
  width: 75vw;
  margin: 5vh auto;
}
.c-search .c-form {
  width: 100%;
  position: relative;
}
.c-search .c-form_e-input {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  padding: 0 75px 0 15px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.c-search .c-form_e-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  padding: 0 25px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #40b7ec;
  font-size: 20px;
  cursor: pointer;
}
.c-search .c-form_e-button:hover {
  background-color: #17a4e2;
}
.c-search .c-result {
  margin-top: 25px;
}
.c-search .c-result_e-section {
  padding: 25px;
  border-radius: 5px;
}
.c-search .c-result_e-section--true {
  background-color: #60c5ba;
}
.c-search .c-result_e-section--false {
  background-color: #f34b5c;
}
.c-search .c-result_e-section h2 {
  margin: 0;
}
.c-search .c-result_e-section ul {
  margin: 5px 0 0;
}
.c-search .c-result_e-section ul li {
  font-weight: bold;
}
.c-search .c-result_e-section ul li:not(:last-child) {
  margin-bottom: 5px;
}
.c-search .c-result_e-section:not(:last-child) {
  margin-bottom: 25px;
}

body {
  color: #3a3a3a;
  background-color: #f7f7f7;
  line-height: 1.5;
}
body * {
  color: #3a3a3a;
  box-sizing: border-box;
}
