body {
  background-color: #FFFFFF;
}

svg { 
  width: 80%;
  min-width:30em;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: block;
  margin: auto;
  position: absolute;
  cursor:pointer;
}

svg#input{border: 1px dotted #efefef;}
path {
  stroke: #999;
  stroke-width: 0.25px;
  fill: none;
}
circle,
path,#_2 {
  pointer-events: none;
}
#_2{overflow:visible;}
#_2 path{fill:black;stroke:none;}
text {
  user-select: none;
  fill: #fff;
  font-size: 3px;
  font-family:verdana;
}
input{display:block; margin:1em auto;}
