body {
  background: #CBCBCB;
  overflow: hidden;
  font-family: "Quicksand";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


.description {
  color: #2f3840;
  text-align: center;
  margin-top: 90px;
  font-size: 1.5em;
}

.content {
  width: 60%;
  padding-bottom: 20%;
  position: relative;
  margin: 0px auto;
  max-width: 1000px;
  min-width: 200px;
}
.content #keyborder {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 30%;
  padding-bottom: 30%;
  background: #91d4c7;
  border-radius: 50%;
  z-index: 1;
  border: 2px solid #556675;
}
.content #keyborder:hover {
  cursor: pointer;
}
.content #keyborder::before {
  content: "";
  position: absolute;
  right: -15%;
  top: 30%;
  width: calc(20% - 4px);
  padding-bottom: 40%;
  background: #91d4c7;
  border: 2px solid #556675;
  border-left: none;
}
.content #keyborder::after {
  content: "";
  position: absolute;
  left: 15%;
  top: 37%;
  width: 26%;
  padding-bottom: 26%;
  background: #CBCBCB;
  border-radius: 50%;
  border: 2px solid #556675;
}
.content #keyborder .top {
  position: absolute;
  right: -165%;
  top: 35%;
  width: 150%;
  padding-bottom: 30%;
  background: #556675;
}
.content #keyborder .top::after {
  content: "";
  width: 10%;
  height: 100%;
  position: absolute;
  right: calc(-10% + 1px);
  background: #556675;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 80%);
          clip-path: polygon(0 0, 0% 100%, 100% 80%);
}
.content #keyborder .top:hover {
  cursor: default;
}
.content #keyborder .top #note {
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  top: 25%;
  text-align: center;
  font-family: "Quicksand";
  font-size: 20px;
  font-weight: bold;
  color: #e5f4ff;
}
.content #keyborder .top #keys {
  position: absolute;
  top: 100%;
  left: 5%;
  width: 90%;
  display: inline-flex;
  height: 100%;
}
.content #keyborder .top #keys:hover {
  cursor: pointer;
}
.content #keyborder .top #keys .key {
  position: relative;
  width: 12%;
  padding-bottom: 80%;
  background: #e5f4ff;
  border: 2px solid #556675;
  border-top: none;
  margin-left: -2px;
}
.content #keyborder .top #keys .black {
  position: relative;
  width: 6.62%;
  padding-bottom: 40%;
  background: #2f3840;
  left: calc(3.31% + 2px);
  margin-left: calc(-6.62% - 4px);
  top: 0%;
  border: 2px solid #556675;
  border-top: none;
  z-index: 1;
}
.content #keyborder .top #keys .note {
  -webkit-transform-origin: top;
          transform-origin: top;
}
.content #keyborder .top #keys .note:active {
  box-shadow: 0 -1px 1px 1px #556675 inset, 0 1px 1px #556675;
  -webkit-transform: scaley(0.95);
          transform: scaley(0.95);
}
