<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
      <h1><span class="light">toBe</span>Read</h1>
      <div id="app">
        <div class="list-wrapper">
          <ul>
            <li is="single-book" v-for="(book, index) in books" v-bind:bookdata="book" v-on:removebook="removeBook(index)"></li>
          </ul>
        </div>
        <form>
          <h2><span class="light">Add a</span> Book</h2>
          <div class="flex-container">
            <input type="text" v-model="newAuthFirst" placeholder="Author First Name" class="input-half">
            <input type="text" v-model="newAuthLast" placeholder="Author Last Name" class="input-half">
          </div>
          <input type="text" v-model="newTitle" placeholder="Title" class="input-full">
          <button type="submit" @click.prevent="addBook">Submit</button>
        </form>
        <div v-if="errors > 0">
          <h2>Error</h2>
          <div v-if="error = 1">
            <p>Please enter all three fields</p>
          </div>
        </div>
      </div>
      <script src="js/2.5.20_vue.min.js"></script>

<!-- Individual Book Component -->

    <script type="text/x-template" id="book-template">
      <li>
        <div>
          <small>{{ bookdata.authLast }}, {{ bookdata.authFirst }}</small>
          <p class="title">{{ bookdata.title }}</p>
        </div>
        <button class="remove" @click.prevent="$emit('removebook', $event.target.index)">
          <?xml version="1.0" encoding="utf-8"?>
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 100" enable-background="new 0 0 80 100" xml:space="preserve">
            <path d="M6.1,39l5.5,48.5c0.3,2.3,11.4,9.9,27.5,9.9c16.1,0,27.3-7.6,27.6-9.9L72.2,39c-8.4,4.7-21,6.9-33.1,6.9 C27.1,46,14.5,43.7,6.1,39z M55,9l-4.3-4.8c-1.7-2.4-3.5-2.8-7-2.8h-9.2c-3.5,0-5.3,0.4-7,2.8L23.4,9C10.5,11.3,1.2,17.2,1.2,21.6 v0.9c0,7.7,17,14,38,14c21,0,38-6.3,38-14v-0.9C77.2,17.2,67.9,11.3,55,9z M49.5,20.2l-6.3-6.7h-8.2l-6.3,6.7h-8.5 c0,0,9.3-11.1,10.6-12.6c1-1.2,1.9-1.6,3.2-1.6h10.2c1.3,0,2.2,0.4,3.2,1.6C48.7,9.1,58,20.2,58,20.2H49.5z"/>
          </svg>
        </button>
      </li>
    </script>
    <script src="js/2.5.21_vue.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>
